In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re # regex operations

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/development-indicators-for-india/Data.csv

**A PEEK AT THE DATASET**

In [2]:
# Reading the .csv file
df = pd.read_csv('../input/development-indicators-for-india/Data.csv')

In [3]:
# Shape and size of the dataset
print(df.shape)
print(df.size)

(1448, 65)
94120

In [4]:
df.columns # List of attributes

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1960 [YR1960]', '1961 [YR1961]', '1962 [YR1962]', '1963 [YR1963]',
       '1964 [YR1964]', '1965 [YR1965]', '1966 [YR1966]', '1967 [YR1967]',
       '1968 [YR1968]', '1969 [YR1969]', '1970 [YR1970]', '1971 [YR1971]',
       '1972 [YR1972]', '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]',
       '1976 [YR1976]', '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]',
       '1980 [YR1980]', '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]',
       '1984 [YR1984]', '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]',
       '1988 [YR1988]', '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]',
       '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]',
       '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]',
       '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]',
       '2020 [YR2020]'],
      dtype='object')

In [5]:
df.dtypes

Country Name     object
Country Code     object
Series Name      object
Series Code      object
1960 [YR1960]    object
                  ...
2016 [YR2016]    object
2017 [YR2017]    object
2018 [YR2018]    object
2019 [YR2019]    object
2020 [YR2020]    object
Length: 65, dtype: object

In [6]:
df.head(10)

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,India,IND,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,..,..,..,..,..,..,...,35.42,36.64,37.81,38.8,39.88,41.04,..,..,..,..
1,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,67.6,79.9,80.7380447387695,83.5852127075195,88,89.5348815917969,92.4568328857422,95.1932983398438,97.8152847290039,..
2,India,IND,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,..,..,..,..,..,..,...,56.086077638855,72.4040107597965,73.3363680663111,77.1202220299779,83.3679321086777,85.1752673357353,89.1008289701358,92.8253521089913,96.6659820678055,..
3,India,IND,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,..,..,..,..,..,..,...,92.9,96.1,96.4644393920898,97.0837554931641,97.5,98.3137588500977,99.0889358520508,99.7837600708008,100,..
4,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,..,..,..,..,..,..,...,35.2318382263184,..,..,53.1415519714355,..,..,79.8753280639648,..,..,..
5,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,..,..,..,..,..,..,...,26.4905014038086,..,..,43.1326103210449,..,..,76.6396331787109,..,..,..
6,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,..,..,..,..,..,..,...,43.7370758056641,..,..,62.7633628845215,..,..,83.0089950561523,..,..,..
7,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.OL.ZS,..,..,..,..,..,..,...,38.0260620117188,..,..,56.8119773864746,..,..,83.0843124389648,..,..,..
8,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.40.ZS,..,..,..,..,..,..,...,26.9714508056641,..,..,43.6106758117676,..,..,77.0829467773438,..,..,..
9,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.PL.ZS,..,..,..,..,..,..,...,30.5149230957031,..,..,43.3534088134766,..,..,75.3695449829102,..,..,..

In [7]:
df.tail(10)

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
1438,India,IND,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,..,..,..,..,..,..,...,..,..,..,..,..,13.3,..,..,..,..
1439,India,IND,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,..,..,..,..,..,..,...,..,..,..,..,..,5.4,..,..,..,..
1440,India,IND,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,..,..,..,..,..,..,...,..,..,..,..,..,25.3,..,..,..,..
1441,India,IND,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1442,India,IND,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1446,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1447,Last Updated: 09/15/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

*From the above data we see that a lot of tuples have attributes with missing attribute values. So it's time to clean it*

In [8]:
# Checking for the number of unique attribute values in each attribute
temp = list()
for i in df.columns:
    temp.append((df[i].nunique(), i))
    
temp.sort()
temp
#(num unique values, column name)

[(1, 'Country Code'),
 (3, 'Country Name'),
 (268, '1960 [YR1960]'),
 (314, '1961 [YR1961]'),
 (325, '1962 [YR1962]'),
 (327, '1963 [YR1963]'),
 (329, '1964 [YR1964]'),
 (330, '1966 [YR1966]'),
 (333, '1965 [YR1965]'),
 (335, '1968 [YR1968]'),
 (337, '1967 [YR1967]'),
 (340, '1969 [YR1969]'),
 (366, '2020 [YR2020]'),
 (416, '1970 [YR1970]'),
 (471, '1972 [YR1972]'),
 (477, '1973 [YR1973]'),
 (499, '1974 [YR1974]'),
 (503, '1971 [YR1971]'),
 (557, '1979 [YR1979]'),
 (566, '1978 [YR1978]'),
 (569, '1975 [YR1975]'),
 (569, '1976 [YR1976]'),
 (583, '1980 [YR1980]'),
 (584, '1977 [YR1977]'),
 (588, '1985 [YR1985]'),
 (593, '1984 [YR1984]'),
 (596, '1982 [YR1982]'),
 (600, '1983 [YR1983]'),
 (602, '1986 [YR1986]'),
 (608, '1989 [YR1989]'),
 (611, '1981 [YR1981]'),
 (613, '1988 [YR1988]'),
 (640, '1987 [YR1987]'),
 (702, '1990 [YR1990]'),
 (717, '1998 [YR1998]'),
 (721, '1991 [YR1991]'),
 (730, '1992 [YR1992]'),
 (744, '1995 [YR1995]'),
 (745, '1993 [YR1993]'),
 (747, '1996 [YR1996]'),
 (760, '1994 [YR1994]'),
 (772, '1997 [YR1997]'),
 (793, '2019 [YR2019]'),
 (800, '1999 [YR1999]'),
 (885, '2002 [YR2002]'),
 (891, '2003 [YR2003]'),
 (892, '2001 [YR2001]'),
 (894, '2004 [YR2004]'),
 (898, '2008 [YR2008]'),
 (905, '2007 [YR2007]'),
 (914, '2018 [YR2018]'),
 (922, '2009 [YR2009]'),
 (925, '2006 [YR2006]'),
 (927, '2015 [YR2015]'),
 (928, '2005 [YR2005]'),
 (935, '2017 [YR2017]'),
 (948, '2016 [YR2016]'),
 (949, '2013 [YR2013]'),
 (957, '2011 [YR2011]'),
 (961, '2014 [YR2014]'),
 (974, '2000 [YR2000]'),
 (980, '2010 [YR2010]'),
 (981, '2012 [YR2012]'),
 (1443, 'Series Code'),
 (1443, 'Series Name')]

*We see that Country Code and Country Name have significantly less number of attributes values compared to other attributes*

In [9]:
print(df['Country Name'].unique())
print(df['Country Code'].unique())

#Both of them have values of only one country or NaN values so we remove these attributes inplace

df.drop('Country Name', inplace = True, axis = 1)
df.drop('Country Code', inplace = True, axis = 1)

['India' nan 'Data from database: World Development Indicators'
 'Last Updated: 09/15/2021']
['IND' nan]

In [10]:
df.isnull().sum(axis = 0) # Checks number of null values in each column

Series Name      5
Series Code      5
1960 [YR1960]    5
1961 [YR1961]    5
1962 [YR1962]    5
                ..
2016 [YR2016]    5
2017 [YR2017]    5
2018 [YR2018]    5
2019 [YR2019]    5
2020 [YR2020]    5
Length: 63, dtype: int64

*As we can see, each attribute has only 5 null values, which correspond to the last 5 tuples that are empty as seen using df.tail()*

In [11]:
df.drop(df.tail(5).index, inplace = True)

In [12]:
df.isnull().sum(axis = 0) # Checking again, we see we have no null values. Or do we?

Series Name      0
Series Code      0
1960 [YR1960]    0
1961 [YR1961]    0
1962 [YR1962]    0
                ..
2016 [YR2016]    0
2017 [YR2017]    0
2018 [YR2018]    0
2019 [YR2019]    0
2020 [YR2020]    0
Length: 63, dtype: int64

*Looking at the data again, we see that several attributes have attribute values such as ".." or "...". We must also clear them*

In [13]:
temp_df = np.transpose(df)
temp_df

,0,1,2,3,4,5,6,7,8,9,...,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442
Series Name,Access to clean fuels and technologies for coo...,Access to electricity (% of population),"Access to electricity, rural (% of rural popul...","Access to electricity, urban (% of urban popul...",Account ownership at a financial institution o...,Account ownership at a financial institution o...,Account ownership at a financial institution o...,Account ownership at a financial institution o...,Account ownership at a financial institution o...,Account ownership at a financial institution o...,...,Women who believe a husband is justified in be...,Women who believe a husband is justified in be...,Women who believe a husband is justified in be...,Women who believe a husband is justified in be...,Women who believe a husband is justified in be...,Women who believe a husband is justified in be...,Women who were first married by age 15 (% of w...,Women who were first married by age 18 (% of w...,Women's share of population ages 15+ living wi...,Young people (ages 15-24) newly infected with HIV
Series Code,EG.CFT.ACCS.ZS,EG.ELC.ACCS.ZS,EG.ELC.ACCS.RU.ZS,EG.ELC.ACCS.UR.ZS,FX.OWN.TOTL.ZS,FX.OWN.TOTL.FE.ZS,FX.OWN.TOTL.MA.ZS,FX.OWN.TOTL.OL.ZS,FX.OWN.TOTL.40.ZS,FX.OWN.TOTL.PL.ZS,...,SG.VAW.REAS.ZS,SG.VAW.ARGU.ZS,SG.VAW.BURN.ZS,SG.VAW.GOES.ZS,SG.VAW.NEGL.ZS,SG.VAW.REFU.ZS,SP.M15.2024.FE.ZS,SP.M18.2024.FE.ZS,SH.DYN.AIDS.FE.ZS,SH.HIV.INCD.YG
1960 [YR1960],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1961 [YR1961],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1962 [YR1962],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016 [YR2016],41.04,89.5348815917969,85.1752673357353,98.3137588500977,..,..,..,..,..,..,...,44.6,29.1,19.1,26.1,32.7,13.3,5.4,25.3,..,..
2017 [YR2017],..,92.4568328857422,89.1008289701358,99.0889358520508,79.8753280639648,76.6396331787109,83.0089950561523,83.0843124389648,77.0829467773438,75.3695449829102,...,..,..,..,..,..,..,..,..,..,..
2018 [YR2018],..,95.1932983398438,92.8253521089913,99.7837600708008,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2019 [YR2019],..,97.8152847290039,96.6659820678055,100,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2020 [YR2020],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [14]:
percentages = list()
for i in temp_df.columns:
    count = 0
    for j in temp_df[i]:
        if j != '..':
            count += 1
    percentages.append((count*100/temp_df.shape[0], i))
    
percentages.sort()

for i in percentages:
    if i[0] < 50:
        temp_df.drop(i[1], inplace = True, axis = 1)

temp_df = np.transpose(temp_df)
temp_df

,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],1966 [YR1966],1967 [YR1967],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
20,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,..,..,..,..,..,..,..,..,...,4.99875524943731,6.1367546770978,5.72823421457849,6.98962928367975,8.83358142719347,7.52192542399146,8.40453726261376,6.50085691586885,3.30753319157023,..
21,Adjusted net national income (constant 2010 US$),NY.ADJ.NNTY.KD,..,..,..,..,..,..,..,..,...,1520090541384.17,1613374768778.68,1705792654293.24,1825021237176.58,1986235974226.15,2135639162951.93,2315129752197.19,2465633024804.24,2547184655481.96,..
22,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,..,..,..,..,..,..,..,..,...,1573696540374.06,1581066858764.98,1600432540832.71,1773161816595.67,1841378195796.16,1994450914992.03,2322046549463.25,2370757635839.1,2489559752922.94,..
23,Adjusted net national income per capita (annua...,NY.ADJ.NNTY.PC.KD.ZG,..,..,..,..,..,..,..,..,...,3.65451165311758,4.83771175228971,4.48493847202261,5.77087237627572,7.62478666013257,6.35581211697168,7.25791455787981,5.401277106813,2.26604340711145,..
24,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,..,..,..,..,..,..,..,...,1215.79237387506,1274.60890442946,1331.77432955204,1408.62932645049,1516.0343074244,1612.39059963313,1729.41653169379,1822.82711090161,1864.13316447123,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,Urban population (% of total population),SP.URB.TOTL.IN.ZS,17.924,18.032,18.218,18.405,18.595,18.785,18.977,19.171,...,31.276,31.634,32.003,32.384,32.777,33.182,33.6,34.03,34.472,34.926
1415,Urban population growth (annual %),SP.URB.GROW,..,2.5991747631751,3.05812220434183,3.07813481164291,3.09857997923493,3.09672832740082,3.10037551956482,3.10819318010065,...,2.40095729462256,2.36963095342624,2.34261983514164,2.32915608060408,2.32315357822471,2.31851026568661,2.31521013771488,2.30946996598269,2.30375244091858,2.29782759107855
1417,"Use of IMF credit (DOD, current US$)",DT.DOD.DIMF.CD,..,..,..,..,..,..,..,..,...,6107700666.3,6114264792.5,6126517828.2,5763720183.6,5512793757.6,5348098577.2,5665573406.3,5532927685.8,5501236937.5,..
1429,Wholesale price index (2010 = 100),FP.WPI.TOTL,3.06838052854559,3.14197637153915,3.25520074528831,3.37408633766831,3.72508189629071,4.03078770547005,4.51199129390397,5.19133753639892,...,109.470553242118,117.472032781688,123.832177940201,127.98468983362,123.005391455829,122.940363305373,127.167193085027,132.592398780232,135.091337704907,146.345357149148
1430,Women Business and the Law Index Score (scale ...,SG.LAW.INDX,..,..,..,..,..,..,..,..,...,62.5,62.5,68.75,68.75,68.75,68.75,71.25,74.375,74.375,74.375

**EXPLORATORY DATA ANALYSIS**

In [15]:
df.info

<bound method DataFrame.info of                                             Series Name        Series Code  \
0     Access to clean fuels and technologies for coo...     EG.CFT.ACCS.ZS
1               Access to electricity (% of population)     EG.ELC.ACCS.ZS
2     Access to electricity, rural (% of rural popul...  EG.ELC.ACCS.RU.ZS
3     Access to electricity, urban (% of urban popul...  EG.ELC.ACCS.UR.ZS
4     Account ownership at a financial institution o...     FX.OWN.TOTL.ZS
...                                                 ...                ...
1438  Women who believe a husband is justified in be...     SG.VAW.REFU.ZS
1439  Women who were first married by age 15 (% of w...  SP.M15.2024.FE.ZS
1440  Women who were first married by age 18 (% of w...  SP.M18.2024.FE.ZS
1441  Women's share of population ages 15+ living wi...  SH.DYN.AIDS.FE.ZS
1442  Young people (ages 15-24) newly infected with HIV     SH.HIV.INCD.YG

     1960 [YR1960] 1961 [YR1961] 1962 [YR1962] 1963 [YR1963] 1964 [YR1964]  \
0               ..            ..            ..            ..            ..
1               ..            ..            ..            ..            ..
2               ..            ..            ..            ..            ..
3               ..            ..            ..            ..            ..
4               ..            ..            ..            ..            ..
...            ...           ...           ...           ...           ...
1438            ..            ..            ..            ..            ..
1439            ..            ..            ..            ..            ..
1440            ..            ..            ..            ..            ..
1441            ..            ..            ..            ..            ..
1442            ..            ..            ..            ..            ..

     1965 [YR1965] 1966 [YR1966] 1967 [YR1967]  ...     2011 [YR2011]  \
0               ..            ..            ..  ...             35.42
1               ..            ..            ..  ...              67.6
2               ..            ..            ..  ...   56.086077638855
3               ..            ..            ..  ...              92.9
4               ..            ..            ..  ...  35.2318382263184
...            ...           ...           ...  ...               ...
1438            ..            ..            ..  ...                ..
1439            ..            ..            ..  ...                ..
1440            ..            ..            ..  ...                ..
1441            ..            ..            ..  ...                ..
1442            ..            ..            ..  ...                ..

         2012 [YR2012]     2013 [YR2013]     2014 [YR2014]     2015 [YR2015]  \
0                36.64             37.81              38.8             39.88
1                 79.9  80.7380447387695  83.5852127075195                88
2     72.4040107597965  73.3363680663111  77.1202220299779  83.3679321086777
3                 96.1  96.4644393920898  97.0837554931641              97.5
4                   ..                ..  53.1415519714355                ..
...                ...               ...               ...               ...
1438                ..                ..                ..                ..
1439                ..                ..                ..                ..
1440                ..                ..                ..                ..
1441                ..                ..                ..                ..
1442                ..                ..                ..                ..

         2016 [YR2016]     2017 [YR2017]     2018 [YR2018]     2019 [YR2019]  \
0                41.04                ..                ..                ..
1     89.5348815917969  92.4568328857422  95.1932983398438  97.8152847290039
2     85.1752673357353  89.1008289701358  92.8253521089913  96.6659820678055
3     98.3137588500977  99.0889358520508  99.7837600708008               100
4                   ..  79.8753280639648                ..                ..
...                ...               ...               ...               ...
1438              13.3                ..                ..                ..
1439               5.4                ..                ..                ..
1440              25.3                ..                ..                ..
1441                ..                ..                ..                ..
1442                ..                ..                ..                ..

     2020 [YR2020]
0               ..
1               ..
2               ..
3               ..
4               ..
...            ...
1438            ..
1439            ..
1440            ..
1441            ..
1442            ..

[1443 rows x 63 columns]>

In [16]:
df.describe()

,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],1966 [YR1966],1967 [YR1967],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
count,1443,1443,1443,1443,1443,1443,1443,1443,1443,1443,...,1443,1443,1443,1443,1443,1443,1443,1443,1443,1443
unique,1443,1443,268,314,325,327,329,333,330,337,...,957,981,949,961,927,948,935,914,793,366
top,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
freq,1,1,1166,1124,1113,1111,1108,1104,1108,1101,...,426,422,446,454,480,458,467,481,616,1069